{% extends 'galaxiaweb/base.html' %}
{% load static %}
{% block content %}
    {% get_media_prefix as media_prefix %}
    <div class="row static-content">
        {% if job.job_key %}

            <div class="col col-12">
                {% if output %}
                    <p>Your job was submitted and finished successfully</p>
                    <p>Download output file <a href="{% get_media_prefix %}{{output}}">here</a>.</p>
                {% elif timeout %}
                    <p>Your job is taking too long and will be stopped!</p>
                    <p>Please try again using different parameters. Alternatively, you can download galaxia code from <a href="http://www.galaxia.sourceforge.net">www.galaxia.sourceforge.net</a> and run it locally. </p>
                {% else %}
                    <p>Your job has been submitted! <div><span class="highlighted">Reload the page to get the output file once ready.</span></div></p>
                {% endif %}
                {% if job.parameter_file_url %}
                    <p>Download parameter file <a href="{% get_media_prefix %}{{job.parameter_file_url}}">here</a>.</p>
                {% endif %}
                {% if job.email %}
                    <p>An email will be sent to <b>{{job.email}}</b> notifying of job status.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}