{% extends 'galaxiaweb/base.html' %}

{% block content %}
        <p><b>Galaxia is a publicly available code for generating a synthetic survey out of a theoretical model
            of the Milky Way. The code outputs a catalog of stars according to user specified color magnitude limits.
            The present version of the code implements the Besancon analytical model of the galaxy and  the isochrones
            used are from  the Padova Stellar Evolution database.  A web interface is provided here, the full
            code can be downloaded from www.galaxia.sourceforge.net .</b></p>
{% endblock %