{% extends 'galaxiaweb/base.html' %}

{% block content %}
    <div class="static-content height80vh">
        <div class="section text-justify">
        Galaxia is a publicly available code for generating a synthetic survey out of a theoretical model
            of the Milky Way. The code generates a catalog of stars according to user specified color magnitude limits.
            The present version of the code implements the Besancon analytical model of the galaxy and  the isochrones
            used are from the Padova Stellar Evolution database.<br><br>A web interface is provided here, the full
            code can be downloaded from <a href="http://www.galaxia.sourceforge.net">www.galaxia.sourceforge.net</a> .
        </div>
    </div>
{% endblock %}